[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "1970552219:AAFJxP57OTWsWKQ7l1feSY9UFboNL9ihC78"

[dev-packages]

[requires]
python_version = "3.9"
